<?xml version="1.0" encoding="UTF-8"?>
<!--
    Shopix_MobileDetect - Detect mobile device and redirect to the appropriate store view.
    Copyright (C) 2013 Shopix Pty Ltd (http://www.shopix.com.au)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<config>
    <modules>
        <Shopix_MobileDetect>
            <version>0.1.0</version>
        </Shopix_MobileDetect>
    </modules>
    
    <global>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <shopix_mobiledetect_page_load>
                        <type>singleton</type>
                        <class>Shopix_MobileDetect_Model_Observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </shopix_mobiledetect_page_load>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
</config>
